access_key="{{ aws_access_key }}"
secret_key="{{ aws_secret_key }}"
pavm_key_name="{{ aws_key_pair_name }}"
pavm_key_path="{{ aws_key_path }}"
region="{{ aws_region }}"
availability_zone="{{ aws_az }}"
pavm_bootstrap_s3="{{ bootstrap_s3_name }}"
